<h1>Contact Us</h1>

<div class="row">
  <div class="col-sm-6">
    <address>
      <strong>HemXeo Restaurant</strong><br>
      76 Hai Ba Trung, District 1<br>
      Ho Chi Minh City<br>
      Viet Nam<br>
    </address>
  </div>

  <div class="col-sm-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d489.92754909908405!2d106.702825!3d10.779079!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f4889e28027%3A0xe26f3ab80d0b0d9f!2zSOG6u20gxIJuIFbhurd0IDc2!5e0!3m2!1svi!2s!4v1497411778131" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>
